{% extends 'base.html' %}
{% load static %}

{% block page_header%}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock%}

{% block content %}
<div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="row" id="mainnav">
      <div class="col" id="nav1"><a href="google.com" target="_blank"><h3 class="item">BEATS</h3></a></div>
      <div class="col" id="nav2"><div><a href="{%url 'products'%}"><h3 class="item">HARDWARE</h3></a></div></div>
      <div class="w-100" id="divide"></div>
      <div class="col" id="nav3"><div><a href="google.com" target="_blank"><h3 class="item">ABOUT US</h3></a></div></div>
      <div class="col" id="nav4"><div><a href="google.com" target="_blank"><h3 class="item">OFFERS</h3></a></div></div>
    </div>
  </div>

  <div id="delivery-banner" class="row text-center">
    <div class="col bg-black text-white">
        <h4 class="logo-font my-1">Free delivery on orders over £{{ free_delivery_threshold }}!</h4>                
    </div>            
  </div>
{% endblock %}

