{% extends 'base.html' %}
{% load static %}

{% block page_header%}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock%}

{% block content %}
<div>
    <div class="row" id="mainnav">
      <div class="col" id="nav1">col</div>
      <div class="col" id="nav2">col</div>
      <div class="w-100"></div>
      <div class="col" id="nav3">col</div>
      <div class="col" id="nav4">col</div>
    </div>
  </div>
{% endblock %}