body{
    background-color: rgb(102, 199, 211);
    height: calc(100vh - 164px);
}

html{
    height: 100%;
}

@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

  @media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

#head {
   position; absolute;
}

#mainnav{
    position;relative;
    height: 600px;
    margin-top: 200px;
}