body{
    background-color: rgb(102, 199, 211);
    height: calc(100vh - 164px);
}

html{
    height: 100%;
}

@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

  @media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

#head {
   position; absolute;
}

#mainnav{
    position;relative;
    height: 500px;
    margin-top: 200px;
}

#divide {
    height: 20px;
}

#nav1{
    background: url('/media/beats.jpg') no-repeat center;
    margin-left: 200px;
    margin-right: 20px;
    background-size:contain;
    height: 250px;
    background-color: black;
}

#nav2{
    background: url('/media/hardware.jpg') no-repeat center;
    margin-right: 200px;
    background-size: contain;
    height: 250px;
    background-color: black;
}

#nav3{
    background: url('/media/about-us.jpg') no-repeat center;
    margin-left: 200px;
    margin-right: 20px;
    background-size: contain;
    height: 250px;
    background-color: black;
}

#nav4{
    background: url('/media/offers.png') no-repeat center;
    margin-right: 200px;
    background-size: contain;
    height: 250px;
    background-color: black;
}