{% extends 'base.html' %}
{% load static %}

{% block page_header%}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock%}

{% block content %}
    <div id="bagdiv">
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">About Us</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>We are a music store based in Wandworth London. Our mission is to make the creation of music as easy as possible.<br>We provide musical equipment and advice to both aspiring and experienced musicians around the globe.<br>Launched in January 2022, our goal is to create as many musicians as possible through our label Skyloft Productions. </p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}