{% extends 'base.html' %}
{% load static %}

{% block page_header%}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock%}

{% block content %}
    <div id="bagdiv">
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Beats</h2>
                <hr>
            </div>
            <p>Beats displayed here are all Skyloft Originals, created by Nana Hagan</p>
        </div>

        <div class="row">
            <div class="col">
                <div class="card-group">
                    <div class="card">
                      <img src="/media/funky.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <audio controls id="music">
                            <source src="/media/funkbounce.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                            </audio>
                            <p>Click the buttons to play or pause the music.</p> 
                        <h5 class="card-title">Funky</h5>
                        <p class="card-text">This is a funky upbeat style of beat</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="/media/orchestra.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <audio controls id="music">
                            <source src="/media/orchtwob.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                            </audio>
                            <p>Click the buttons to play or pause the music.</p> 
                        <h5 class="card-title">Orchestral</h5>
                        <p class="card-text">This is a somber orchestral Beat</p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="/media/afropop.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <audio controls id="music">
                            <source src="/media/song4.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                            </audio>
                            <p>Click the buttons to play or pause the music.</p> 
                        <h5 class="card-title">Afropop</h5>
                        <p class="card-text">This is an african beat, emphasizing percussion and drums.</p>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}